In [3]:
import pandas as pd
import os

In [4]:
#merging all data in a single file
files= (file for file in os.listdir("./Sales_data"))
all_month_data = pd.DataFrame()

for file in files :
    df=pd.read_csv("./Sales_data/"+file)
    all_month_data=pd.concat([all_month_data, df])

all_month_data.to_csv("all_month_data.csv",index=False)

In [5]:
all_data=pd.read_csv('all_month_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [6]:
#drop all nan rows
df_Nan = all_data[all_data.isna().any(axis=1)]
df_Nan.head()

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
1         NaN     NaN              NaN        NaN        NaN              NaN
356       NaN     NaN              NaN        NaN        NaN              NaN
735       NaN     NaN              NaN        NaN        NaN              NaN
1433      NaN     NaN              NaN        NaN        NaN              NaN
1553      NaN     NaN              NaN        NaN        NaN              NaN

In [7]:
all_data=all_data.dropna(how='all')

#drop all nan rows
df_Nan = all_data[all_data.isna().any(axis=1)]
df_Nan.head()